body {
  background-color: rgb(255, 109, 54);
  color: white;
}

a, a:hover, a:focus {
  color: white;
}

.img-circle {
  border: solid white 9px;
}

.info {
  margin-top: 30px;
  margin-bottom: 30px;
}

.info marquee {
  font-size: 20px;
}

.fake-code-container {
  padding: 15px 30px;
  border-radius: 10px;
  background-color: rgb(68, 68, 68);
}

.fake-code-container .row {
  margin-top: 14px;
}

.fake-code-container:first-child {
  margin-top: 0px;
}

.code-line-wrap {
  padding-left: 7px;
  padding-right: 7px;
}

.code-line {
  width: 100%;
  display: block;
  text-align: center;
  height: 30px;
}

.green-code {
  color: rgb(2, 243, 3);
  background-color: rgb(2, 243, 3);
}

.blue-code {
  color: rgb(2, 155, 243);
  background-color: rgb(2, 155, 243);
}

.red-code {
  color: rgb(243, 75, 2);
  background-color: rgb(243, 75, 2);
}

.orange-code {
  color: rgb(243, 153, 2);
  background-color: rgb(243, 153, 2);
}

.purple-code {
  color: rgb(238, 67, 240);
  background-color: rgb(238, 67, 240);
}

@media (max-width: 767px) {
  .fake-code-container {
    border-radius: 0px;
  }

  .fake-code-container .row {
    margin-top: 10px;
  }

  .code-line-wrap {
    padding-left: 5px;
    padding-right: 5px;
  }

  .code-line{
    padding-top: 7px;
    color: white;
  }
}
